
<div class="footer">
    <div class="w">
        <div class="links">
           <a class="link" href="//www.dianpoint.com/" target="_blank"><i class="fa fa-home">  首页</i> </a>
            |<a class="link" href="//www.jhun.edu.cn" target="_blank"><i class="fa fa-graduation-cap">  江汉大学</i></a>
            |<a class="link" href="//www.ccoder.cc" target="_blank"><i class="fa fa-user"> 聪聪不匆匆</i></a>
            |<a class="link" href="//file.dianpoint.com" target="_blank"><i class="fa fa-folder">  下载软件</i></a>
        </div>
        <p class="copyright">
            Copyright © 2018 dianpoint.com All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
