<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="dianpoint,电商,网上购物平台，电商毕设，电商教程，电商源码下载，手机，耳机，学生电商项目">
<meta name="description" content="一个提供数码通讯，手机，电脑，家居百货，母婴，图书，食品，等数万种优质品商品的网上购物平台">
<!-- dns -->
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//s.dianpoint.com">
<link rel="dns-prefetch" href="//img.dianpoint.com">

<!-- js代码 百度统计 -->
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?40dbd14d61d11e5b2131712b09ecc01d";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
