/*
 * @Author: chencong
 * @Date: 2018-04-22 23:20:07
 * @Last Modified by: chencong
 * @Last Modified time: 2018-04-22 23:26:29
 */

.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}
